/*ESTILOS GENERALES PARA TODOS LOS DOCUMENTOS HTML*/

/*ESTILOS AL SELECTOR UNIVERSAL/////////////////////////////////////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*SECCCIONES DEL HTML///////////////////////////////////////////////////////////////////*/
body {
    width: 100%;
    height: 100%;
    font-family: 'Octo-a';
}

/*FUENTES///////////////////////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'Neutron';
    src: url(/assets/fonts/Neutron.ttf);
}

@font-face {
    font-family: 'Cubic';
    src: url(/assets/fonts/cubic.ttf);
}

@font-face {
    font-family: 'Octo-a';
    src: url(/assets/fonts/Octosquares.ttf);
}

@font-face {
    font-family: 'Octo-b';
    src: url(/assets/fonts/Octosquares-Bold.ttf);
}

/*SELECTORES RAIZ////////////////////////////////////////////////////////////////////////*/
:root {
    --color-morado: #852362;
    --color-gris: #4d3f3f;
    --color-azul: #005089;
    --color-verde: #708c32;
    --color-amarillo: #f2cb05;
    --color-negro: #000000;
    --color-blanco: #fff;
}

/*///////////////////////////////////////////////////////////////////////////////////////*/

/*ESTILO DE FIGURAS///////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width:1200px) {
    .contenedor-cartas {
        position: relative;
        transform: none;
        margin-top: 100px;
        padding-bottom: 50px;
        z-index: -100;
    }
}

.container__background-triangle {
    max-width: 1200px;
    height: 600px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.triangle {
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 5%;
}

.triangle1 {
    width: 150px;
    height: 150px;
    background: linear-gradient(to left, var(--color-azul), var(--color-morado));
    right: 100px;
    top: 100px;
    animation: t1 8s ease infinite;
}

.triangle2 {
    width: 250px;
    height: 250px;
    background: linear-gradient(to left, var(--color-amarillo), var(--color-verde));
    top: 350px;
    animation: t2 9s ease infinite;
}

.triangle3 {
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, var(--color-negro), var(--color-morado));
    left: 200px;
    animation: t3 7s ease infinite;
}

@keyframes t1 {
    0% {
        transform: rotate(45deg) translateY(0px);
    }

    50% {
        transform: rotate(45deg) translateY(20px);
    }

    100% {
        transform: rotate(45deg) translateY(0px);
    }
}

@keyframes t2 {
    0% {
        transform: rotate(65deg) translateY(0px);
    }

    50% {
        transform: rotate(65deg) translateY(20px);
    }

    100% {
        transform: rotate(65deg) translateY(0px);
    }
}

@keyframes t3 {
    0% {
        transform: rotate(45deg) translateY(0px);
    }

    50% {
        transform: rotate(45deg) translateY(20px);
    }

    100% {
        transform: rotate(45deg) translateY(0px);
    }
}

/* Estilo para el fondo de partículas ///////////////////////////////////////////////////*/
#particles-js {
    width: 100%;
    height: 100%;
    z-index: -110;
    position: fixed;
    margin-top: 0px;
}

/*ESTILO SUPERIOR DEL NAV*/

.contenedor-logo a img,
.contenedor-logo a h1 {
    transform: translateY(1%);

}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

/*SECCION DE AVISO DE COOKIES ///////////////////////////////////////////////////////////////////*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-azul);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-blanco);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: var(--color-azul);
}

h1 {
    font-size: 28px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-morado);
}

h3 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
}

p b {
    font-weight: 600;
}

p a {
    color: var(--color-azul);
    text-decoration: none;
    transition: color 0.3s;
}

p a:hover {
    color: var(--color-azul);
}

a.regresar-link {
    display: block;
    margin-top: 20px;
    color: var(--color-azul);
    text-decoration: none;
    font-weight: 600;
}

a.regresar-link:hover {
    color: var(--color-azul);

}